body {
    background-color: aquamarine;
    min-height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
}

#root {
    max-width: 500px;
    background: wheat;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

.form {
    display: flex;
    flex-direction: column;
}

.button {
    display: block;
}

.site-nav {
    color: blue;
    size: 12px;
}

.site-nav__link {
    color: brown;
    size: 20px;
}

.hero__img {
    margin: 10px;
    border-radius: 20%;
}

.hero__title {
    color: bisque;
}
